h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-primary);
}

form {
  margin-top: var(--space-m);
  display: flex;
  justify-content: space-between;
  width: min(35rem, 100%);
  overflow: hidden;
  border-radius: 10px;
}

form > input[type="text"] {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  flex-grow: 1;
  min-width: 0;
  padding: 0.75rem var(--space-m);
  border-radius: 10px 0 0 10px;
  border: 0.15rem solid transparent;
  border-right: none;
  transition: border-color 100ms ease;
}

form > input[type="text"]:hover,
form > input[type="text"]:focus {
  border-color: var(--border);
}

form > button[type="submit"] {
  background-color: var(--text-primary);
  color: var(--bg-primary);
  padding-inline: var(--space-m);
  font-weight: 800;
  transition: filter 100ms ease;
}
form > button[type="submit"]:hover {
  filter: brightness(0.9);
}
form > button[type="submit"]:active {
  filter: brightness(1);
}

form ~ p {
  margin-top: var(--space-m);
  font-size: 0.85rem;
  color: var(--color-error);
}

ul {
  margin-top: calc(var(--space-m) * 2);
  width: min(35rem, 100%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

ul > li {
  font-size: var(--text-m);
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem var(--space-m);
  border-radius: 10px;
}

.control-container {
  display: flex;
  gap: var(--space-m);
}

.control-container > button {
  display: flex;
  border-radius: 50%;
  padding: calc(var(--space-m) / 2);
  background-color: var(--bg-primary);
  transition: filter 100ms ease;
}
.control-container > button:active {
  filter: brightness(1.3);
}
.control-container > button:hover {
  filter: brightness(1.1);
}
